<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mundane.mail.mapper.PicMapper">
    <select id="findById" resultType="com.mundane.mail.pojo.Picture">
        SELECT * FROM tb_pic_info WHERE id = #{id}
    </select>
</mapper>